#rotateTextbox {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	background: rgba(22,22,22,.0);
	z-index: 1;
	margin: px;
}

#rotateTextbox.show {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	opacity: 1;
	background: rgba(22,22,22,.9);
	z-index: 1;
}

#rotator {
	width: 450px;
	height: 266px;
	border: 1px solid black;
	text-align: center;
	background: none;
	position: relative;
}

#rotator img {
	position: absolute;
	top: 0;
	left: 0;
}

.imagehide {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	opacity: 0;
	 z-index: 0;
}

.imageshow {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	opacity: 1;
	z-index: 0;
}

